<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" href="style.css?cachebust=dhksdshfjnaa" media="all" rel="stylesheet">
    <title>Songbook</title>
  </head>
  <body>

    <div id="app">
      <div id="chord-container" v-if="chords" >
        <pre v-if="chords.capo" class="capo">Capo {{ chords.capo }}</pre>
        <ul class="chords">
          <li v-for="part in chords.parts">
            <pre v-html="part">
            </pre>
          </li>
        </ul>
      </div>
      <div v-else class="centered">
        <div class="notfound">No chords found for this song :(</div>
      </div>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script type="text/javascript" src="//www.gstatic.com/cast/sdk/libs/receiver/2.0.0/cast_receiver.js"></script>
    <script src="./app.js"></script>
  </body>
</html>
