<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Songbook</title>
    <script src="app.js"></script>
    <link href="stylesheets/main.css" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
  </head>
  <body id="body">
    <div id="app">
      <div id="chord-container" v-if="chords" >
        <pre v-if="key" class="capo">Key: {{ key }} ({{ key_confidence }} / {{ mode_confidence }})</pre>
        <pre v-if="chords.capo" class="capo">Capo {{ chords.capo }}</pre>
        <pre v-html="chords.html" class="chords">
        </pre>
        <ul>
          <li v-for="result in highlightedResults" v-on:click="open(result)" v-bind:class="{ active: result.active }">
            {{ result.artist }} - {{ result.name }} [{{ result.rating }}]
          </li>
        </ul>
        <a v-on:click="openInBrowser(chords)" class="openLink">
          Open on ultimate-guitar.com
        </a>
      </div>
      <div v-else class="centered">
        <div class="notfound">No chords found for this song :(</div>
      </div>
    </div>
  </body>
</html>
