html, body, #app {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding:0px;
}

body {
  background-color: #F2F2F2;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  color: #525252;
}

.chords {
  margin: 0px;
  padding: 50px;
  font-size: 12pt;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

pre span {
  font-weight: bold;
}

.notfound {
  font-size: 20pt;
}

ul, li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

ul {
  margin: 0px 0px 20px 50px;
}

li {
  display: inline;
  margin-right: 10px;
  padding: 5px;
  text-decoration: none;
  color: #525252;
  cursor: pointer;
}

li.active {
  color: #F2F2F2;
  background-color: #525252;
  border-radius: 3px;
}
